@media (max-width: 768px) {
    .games {
        flex-direction: column;
        align-items: center;
    }

    .game {
        width: 80%;
        margin-bottom: 20px;
    }
    nav {
        flex-direction: column;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .account {
        margin-top: 15px;
    }
}


@media (max-width: 480px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        height: 50vh;
        padding: 20px;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .games {
        flex-direction: column;
    }

    .game {
        width: 100%;
    }
}
